<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP| Characters</title>
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/conocenos.css')}}">
</head>
<body>
    <h1>Bienvenido a mi Hospital</h1>
    <h2>La clínica se fundo en el año 2002 , cuenta con un gran reconocimiento a nivel local , esta acreditada por
        el gobierno Colombiano, cuenta con sedes a lo largo de todo el país, en nuestra institución se prestan diferentes
        tipos de espacios en los cuales el paciente se acomodara segun su necesidad.Nuestro Hospital cuenta con los siguientes
        espacios:
    </h2>
    <h3>Sala de tomografía</h3>
    <h4>Esta sala es especialmente para personas que puedan presentar alguna lesión a nivel cerebral</h4>
    <img src="{{url_for('static', filename= 'images/tomo.jpg')}}" alt="service">
    <h3>Quirófanos</h3>
    <h4>Espacio especializado para llevar a cabo procedimientos de alto riesgo</h4>
    <img src="{{url_for('static', filename= 'images/quiro.jpg')}}">
    <h3>Sala de neonatos</h3>
    <h4>Esta sala es especialmente para los recien nacidos</h4>
    <img src="{{url_for('static', filename= 'images/neo.jpg')}}">
    <h3></h3>
    <a href="about">Vamos a la ruta conocenos</a></h2>
    ><a href="/">Regresa al begin</a>
</body>
</html>