<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP| Characters</title>
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/contact.css')}}">
</head>
<body>
    <h1>Bienvenido</h1>
    <h2>tu ip es {{userIp}}:</h2>
    <h2>Tu contact es : {{contact}}</h2>
    <img src="{{url_for('static', filename= 'images/tel.jpg')}}" alt="número telefónico">
    <h2>nuestra linea a nivel nacional es : 01 8000 40 1010</h2>
    <img src="{{url_for('static', filename= 'images/ubi.jpg')}}" alt="dirección">
    <h2>estamos ubicados en la ciudad de Medellín , por el parque de Bélen</h2>
    <a href="contact">Vamos a la ruta contact</a></h2>
    ><a href="/">Regresa al inicio</a>
</body>
</html>