<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP| Characters</title>
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/contact.css')}}">
</head>
<body>
    <h1>Bienvenido</h1>
    <h2>informacion sobre el admin de la página:</h2>
    <h3>Me llamo Marco Berrio Uribe , tengo 20 años de edad , vivo en Medellín , actualmente curso cuarto semestre
        de ingenieria biomedica en la universidad CES , me gusta mucho hacer deporte , jugar y ver futvol , me gusta 
        pasar tiempo con mis amigos y familia , me gustan mucho los carros , me gusta mucho comer , mi color favorito es el
        verde lima , mi sueño es tener una familia y vivir en el exterior.
    </h3>
    <a href="curioso">Vamos a la ruta curioso</a></h2>
    ><a href="/">Regresa al begin</a>
</body>
</html>