<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP| doctors</title>
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/doctors.css')}}">
</head>
<body>
    <h1>Bienvenido</h1>
    <h2><h3>DOCTORES:</h3>
        <h6>Juan David Berrio</h6>
        <h6>Tomas Salazar</h6>
        <h6>Tomas Osorio</h6>
        <h6>Andres Rodriguez</h6>
        <h6>Samuel Vasquez</h6>
        <h6>Isabella Valcke</h6>
        <h6>Catalina Valcke</h6>
        <h6>Jose Miguel Muñoz</h6>
        <h6>Mateo Castillo</h6>
        <h6>Isabella Arango</h6>
        <h6>Alejandro Restrepo</h6>
        <h6>Valentina Restrepo</h6>
        <h6>Mariana Vasquez</h6>
        <h6>Juan Diego Solano</h6>
        <h6>Emanuel Gomez</h6>
        <h6>Jose Daniel Jaramillo</h6>
        <h6>Juan Pablo Ruiz</h6>
        <h6>Santiago Betancur</h6>
        <h6>Juan Esteban Arias</h6>
        <h6>Maria Camila Herrera Mesa</h6>
        <h6>Valentina Vela</h6>
        <h6>Nicole Uribe</h6>
        <h6>Maria Jose Salazar</h6>
        <h6>Daniel Zarate</h6>
        <h6>Vicki Uribe</h6></h2>
    <h2>En nuestra clínica contamos con los expertos mas calificdos para cualquier tipo
        de servicio que estes buscando! , contamos con un grupo de :
    </h2>
    <h2>Anestesiólogos</h2>
    <img src="{{url_for('static', filename= 'images/ane.jpg')}}" alt="anestesiologo">
    <h2>Neurocirujanos</h2>
    <img src= "{{url_for('static', filename= 'images/neu.jpg')}}" alt="neurocirujano">
    <h2>Cardiólogos</h2>
    <img src= "{{url_for('static', filename= 'images/card.jpg')}}" alt="cardiologo">
    <h2>Pediatria</h2>
    <img src= "{{url_for('static', filename= 'images/ped.jpg')}}" alt="pediatra">
    <h2>ortopedista</h2>
    <img src= "{{url_for('static', filename= 'images/orto.jpg')}}" alt="ortopedista">
    <a href="doctores">Vamos a la ruta doctores</a></h2>
    ><a href="/">Regresa al begin</a>
</body>
</html>