<body>
    <h1>Bienvenido</h1>
    <h2>En nuestra clínica actualmente tenemos internados a 25 pacientes , los cuales seran nombrados a continuación :
    </h2>
    <h3>PACIENTES:</h3>
    <h6>Juan David Berrio</h6>
    <h6>Tomas Salazar</h6>
    <h6>Tomas Osorio</h6>
    <h6>Andres Rodriguez</h6>
    <h6>Samuel Vasquez</h6>
    <h6>Isabella Valcke</h6>
    <h6>Catalina Valcke</h6>
    <h6>Jose Miguel Muñoz</h6>
    <h6>Mateo Castillo</h6>
    <h6>Isabella Arango</h6>
    <h6>Alejandro Restrepo</h6>
    <h6>Valentina Restrepo</h6>
    <h6>Mariana Vasquez</h6>
    <h6>Juan Diego Solano</h6>
    <h6>Emanuel Gomez</h6>
    <h6>Jose Daniel Jaramillo</h6>
    <h6>Juan Pablo Ruiz</h6>
    <h6>Santiago Betancur</h6>
    <h6>Juan Esteban Arias</h6>
    <h6>Maria Camila Herrera Mesa</h6>
    <h6>Valentina Vela</h6>
    <h6>Nicole Uribe</h6>
    <h6>Maria Jose Salazar</h6>
    <h6>Daniel Zarate</h6>
    <h6>Vicki Uribe</h6>
    <a href="pacientes">Vamos a la ruta pacientes</a></h2>
    ><a href="/">Regresa al begin</a>
</body>
</html>