a{
    appearance: button;
    text-decoration: rgb(58, 3, 71);
    color: white;
    background-color: blue;
    width: 100px;
    height: 30px;
    border-radius: 25px;
    text-align: center;
    box-shadow: 2px 3px rgb(136, 255, 0);
    scroll-padding-block-start: 15px;
}
body{
    background-color: rgb(8, 216, 231);
}